/* Color Variables */
:root {
    --backgroundColor: #0a0a23;
    --buttonColorBackground: #feac32;
    --buttonGradientColor1:  #fecc4c;
    --buttonGradientColor2: #ffac33;
    --registerColor: #8fccf2;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--backgroundColor);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    height: 100%;
}

#main-header {
    font-size: 40px;
}

#change-due {
    
}

#input-container {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

#input-label {
    font-size: 20px;
}

#cash {
    height: 35px;
    width: 215px;
}

#purchase-btn {
    width: 120px;
    height: 30px;
    background-color: var(--buttonColorBackground);
    background-image: linear-gradient(var(--buttonGradientColor1), var(--buttonGradientColor2));
    border-color: var(--buttonColorBackground);
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

#register {
    width: 22%;
}

#price-container {
    width: 60%;
    border: 10px solid var(--registerColor);
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

#price {
    font-size: 20px;
}

#register-arm {
    background-color: var(--registerColor);
    width: 40px;
    height: 30px;
    margin-left: 60px;
}

#register-body {
    background-color: var(--registerColor);
    height: 256px;
    width: 320px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#register-black-squares-container {
    height: 80px;
    width: 80px;
    border: 1px solid transparent;
    position: relative;
    top: 20px;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.black-square {
    background-color: black;
    width: 20px;
    height: 20px;
}

#register-change {
    background-color: white;
    color: black;
    width: 175px;
    height: 220px;
    margin-right: 20px;
    margin-top: 20px;
}

#change-list-header {
    font-weight: 600;
    padding: 0;
    text-align: center;
    list-style-type: none;
    font-size: 17px;
    margin-bottom: 2px
}

.change-item {
    font-weight: 400;
    position: relative;
    right: 17px;
}

#register-drawer {
    margin-top: 10px;
    background-color: var(--registerColor);
    width: 320px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#drawer-knob {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}